@model Campaign.Data.UserLogin
@{
    ViewBag.Title = "ForgotPassword";
}

<div class="grey">

</div>
<div class="login-custom">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><span class="title"><b>Forget</b> Password</span></a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>
                @using (Html.BeginForm("ForgotPassword", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "form-control" })
                      @*//  <input type="email" class="form-control" placeholder="Email">*@
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope iconLogin"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <!-- /.col -->
                        <div class="col-12">
                            <button type="button" id="forgot-password" class="btn btn-primary btn-block">Request new password</button>
                        </div>
                        <!-- /.col -->
                    </div>
                }
                <br />
                <p class="mb-1">
                    @Html.ActionLink("Login", "Login")
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
</div>